








.terraform.lock.hcl
.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.71.0/windows_amd64/LICENSE.txt
.gitingnore
.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.71.0/windows_amd64/terraform-provider-azurerm_v4.71.0_x5.exe
.terraform/providers/registry.terraform.io/hashicorp/null/3.2.4/windows_amd64/LICENSE.txt
.terraform/providers/registry.terraform.io/hashicorp/null/3.2.4/windows_amd64/terraform-provider-null_v3.2.4_x5.exe
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info
terraform.tfstate.backup
terraform.tfstate.backup
terraform.tfstate.backup
terraform.tfstate.backup
terraform.tfstate.backup
terraform.tfstate.backup
terraform.tfstate.backup
terraform.tfstate.backup
